<head>
<h1><%= @user.name %>'s User Page</h1>
</head>
<body>
    <p>Number of Characters: <%= @user.characters.count%></p>
    
    <ul>
        <% @user.characters.each do |char|%>
        <li>
        <h4><%= char.name %></h4>
        <a href="/characters/<%= char.id %>"><img src="<%= char.photo %>" alt="Character Portrait" height="200"></a>
        </li>
        <% end %>
    </ul>
</body>