<h1>This is the show page for an individual instance of your model.</h1>
<h2><%= @character.name %></h2>
<h3><%= @character.race %></h3>
<h3><%= @character.class_lvl %></h3>
<h3><%= @character.alignment %></h3>
<h3><%= @character.personality %></h3>
<h3><%= @character.photo %></h3>
<h3><%= @character.user_id %></h3>

</br>

<% if authorized_to_edit?(@character) %>
<a href="/characters/<%= @character.id %>/edit">Edit Character</a>

<form class="" action="/characters/<%= @character.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete Character">
</form>
<% end %>